section .introSegments div, section .segmentsBlock, section .buttonPhraseBlock .buttonBlock { margin-top: 20px; }

section .patternSegments, section .buttonPhraseBlock { margin-top: 40px; }

section .introSegments div, section .segmentsBlock div div { text-align: center; }

section .introSegments div span, section .buttonPhraseBlock .phraseButton { color: #0454BD; }

section .patternSegments, section .blue, section .lightBlue .blockLink { background-color: #0454BD; }

section .buttonPhraseBlock .buttonBlock, section .blue .blockLink, section .lightBlue { background-color: #2992E3; }

section .buttonPhraseBlock .buttonBlock, section .blue .blockLink { border: 2px solid #2992E3; }

section .patternSegments span, section .patternSegments .listIntro li, section .segmentsBlock div div h6, section .segmentsBlock div div span { color: #ffffff; }

section .introSegments div span, section .segmentsBlock div div h6 { font-family: Arial, Helvetica, sans-serif; }

section .patternSegments, section .segmentsBlock { padding: 20px 0; }

section .segmentsBlock div div .blockLink, section .buttonPhraseBlock .buttonBlock { padding: 10px 20px; border-radius: 20px; }

section .segmentsBlock div div .blockLink, section .buttonPhraseBlock .buttonBlock a { color: #ffffff; font-size: 20px; }

section .patternSegments span, section .patternSegments .listIntro li, section .segmentsBlock div div span, section .buttonPhraseBlock .phraseButton, section .buttonPhraseBlock .buttonBlock a { font-family: 'calibre'; }

section .introSegments { display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 40px 0; }
section .introSegments div span { font-size: 30px; font-weight: bold; }
section .patternSegments { display: flex; flex-direction: column; align-items: center; justify-content: center; }
section .patternSegments span { text-align: center; font-size: 18px; }
section .patternSegments .listIntro { margin-top: 10px; }
section .patternSegments .listIntro li { font-size: 20px; text-align: center; }
section .segmentsBlock div .imgBlock { display: flex; flex-direction: column; align-items: center; justify-content: center; }
section .segmentsBlock div .imgBlock img { width: 300px; }
section .segmentsBlock div div { display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 30px; }
section .segmentsBlock div div h6 { font-size: 30px; }
section .segmentsBlock div div span { margin-top: 10px; font-size: 20px; }
section .buttonPhraseBlock { display: flex; flex-direction: column; align-items: center; justify-content: center; }
section .buttonPhraseBlock .phraseButton { font-size: 30px; font-weight: bold; }
section .buttonPhraseBlock .buttonBlock { text-align: center; }
section .buttonPhraseBlock .buttonBlock a:hover { opacity: 0.5; }
section .blue { display: flex; flex-direction: column; align-items: center; justify-content: center; }
section .lightBlue { display: flex; flex-direction: column; align-items: center; justify-content: center; }
section .lightBlue .blockLink { border: 2px solid #0454BD; }

@media screen and (min-width: 768px) { section .introSegments { flex-direction: row; }
  section .introSegments img { margin-right: 40px; }
  section .introSegments span { width: 80%; }
  section .segmentsBlock div .blockText { width: 30%; display: flex; flex-direction: column; align-items: flex-start; }
  section .segmentsBlock div .blockText span { text-align: left; }
  .blue div { display: flex; flex-direction: row; align-items: center; justify-content: center; }
  .blue div img { margin-right: 50px; }
  .lightBlue div { display: flex; flex-direction: row-reverse; align-items: center; justify-content: center; }
  .lightBlue div img { margin-left: 50px; } }
@media screen and (min-width: 1000px) { section .introSegments { flex-direction: row; }
  section .patternSegments { display: flex; flex-direction: column; align-items: center; justify-content: center; }
  section .patternSegments .listIntro { display: flex; flex-direction: row; align-items: center; justify-content: center; }
  section .patternSegments .listIntro li { margin-right: 20px; } }
@media screen and (min-width: 1450px) { section .segmentsBlock div img { margin: 0 90px; }
  section .segmentsBlock div .blockText { width: 20%; display: flex; flex-direction: column; align-items: flex-start; }
  section .segmentsBlock div .blockText span { text-align: left; } }

/*# sourceMappingURL=segments.css.map */
